<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFaWdz-8PiASYasxzYeIDvq_DLnwQsdJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>37527616803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFreelancer.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cyberfreelancer-99ca4</string>
	<key>STORAGE_BUCKET</key>
	<string>cyberfreelancer-99ca4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37527616803:ios:02784344ac58fe7dfee096</string>
</dict>
</plist>